<!DOCTYPE html>
<!--
    Author:  Jahi Stewart
    Class:   SAAS
    Description: Web Resume.
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jahi's Web Resume</title>
        <link rel="stylesheet" href="css\styles.css"/>
        <script src="scripts\utils.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>