<body onload="displayDice(),rollSixDice();">
    <!--Header has link to email-->
    <header>
        <h2>Jahi K Stewart</h2>
        <h5>Joliet, IL · <a href="mailto:jahikstewart@lewisu.edu">jahikstewart@lewisu.edu</a> · 8159810927</h5><br>
    </header>
    <section>
       <h3>Education</h3>
       <hr>
       <div>
           <span class="left"><strong>Lewis University</strong></span><span class="right">Romeoville, IL</span><br>
           <span class="left">BS Computer Science <em>GPA: 3.00</em></span><span class="right">Aug 2020 - Present</span><br><br>
       </div>
    </section>
    <section>
        <h3>Work Experience</h3>
        <hr>
        <div>
            <span class="left"><strong>C.W. Avery Family YMCA</strong></span><span class="right">Plainfield, IL</span><br>
            <span class="left"><em>Lifeguard</em></span><span class="right">Mar 2020 - Present</span><br>
        </div>
        <ul>
            <li>Maintain quality of pool water by testing chemical levels.</li>
            <li>Examine injured persons and administer first aid or cardiopulmonary resuscitation, if necessary,
                using training and medical supplies and equipment.</li>
            <li>Contact emergency medical personnel in case of serious injury</li>
            <li>Rescue distressed persons, using rescue techniques and equipment.</li>
        </ul><br> 
     </section>
     <section>
         <h3>Skills</h3>
         <hr>
         <span class="left">Programming Languages: Python, Java, JavaScript</span><br><br>
     </section>
</body>